box-shadow()
  -webkit-box-shadow: arguments
  -moz-box-shadow: arguments
  -o-box-shadow: arguments
  box-shadow: arguments

html, body
  height: auto
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body
  text-align: center
  background-color: rgb(230,230,230)

#container
  width: 100%
  height: 100%
  text-align: left
  margin-top: 30px

.canvas-container
  border: rgb(200,200,200) 1px solid
  margin: 0 auto

.controlPanel
  background-color: rgb(50,50,50)
  height: 300px
  position: fixed
  bottom: 0
  width: 100%
  box-shadow: 0px -10px 8px rgba(0,0,0,0.25)

.toolbar
  height: 30px
  width: 100%;
  border-bottom: solid 1px rgb(20,20,20)
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(60,60,60)), color-stop(100%,rgb(45,45,45)));


.toolbar li
  display: block
  float: left
  height: 30px
  width: 30px

.reel
  height: 25px
  position:relative
  margin-right: 241px
  text-align: center
  background-color: rgb(40,40,40)

#reelWrapper
  position:absolute
  left:30px
  right:1px
  height:25px

.reel input[type='range']
  width:100%
  margin-top: 5px

.properties
  width: 220px
  height: 250px
  padding: 15px 10px
  float: right
  overflow-y: scroll
  background-color: rgb(45,45,45)
  border-left: solid 1px rgb(20,20,20)
  box-shadow: inset 1px 1px 0px rgba(255,255,255,0.1)

.properties label
  color: rgb(200,200,200)
  text-transform: capitalize
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 1px;
  font-size: 12px
  margin-right: 5px

.properties input[type="text"]
  color: rgb(120,120,120)
  background-color: transparent
  border: none
  font-size: 12px

.properties input[type="color"]
  margin-left: 5px

.properties li
  margin-top: 3px

.properties input[type="range"]
  width: 100%

.timeline
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1)
  height: 245px
  overflow-y: scroll

.timeline > li
  display: block
  width: 100%
  height: 30px

.timeline > li:nth-child(even){
  background-color: rgb(55,55,55)
}

.timeline li ul
  display: block
  float: left
  height: 30px;
  position: absolute
  left: 40px
  right: 240px

.timestamp
  position: absolute
  display: block
  width: 6px
  height: 28px
  left: -11px;
  background-color: rgb(42,97,168)
  border: 1px solid rgba(0,0,0,0.5)
  box-shadow: inset 1px 1px 0px rgba(255,255,255,0.1), inset -1px -1px 0px rgba(0,0,0,0.4)


.icon
  height: 30px
  width: 30px
  display: block
  float: left

.icon.Circle
  background-image: none, url('../img/circle.svg')
  background-repeat: no-repeat

.icon.Rect
  background-image: none, url('../img/rectangle.svg')
  background-repeat: no-repeat

.icon.Triangle
  background-image: none, url('../img/triangle.svg')
  background-repeat: no-repeat

.icon.Star
  background-image: none, url('../img/star.svg')
  background-repeat: no-repeat

.playBtn
  background-image: none, url('../img/play_btn.svg')
  background-repeat: no-repeat
  height: 25px

.pauseBtn
  background-color: red


