html, body
  height: auto
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body
  text-align: center
  background-color: rgb(230,230,230)

#container
  width: 100%
  height: 100%
  text-align: left
  margin-top: 16px

.canvas-container
  border: rgb(200,200,200) 1px solid
  margin: 0 auto

.controlPanel
  background-color: rgb(50,50,50)
  position: absolute
  top: 400px
  bottom: 0
  width: 100%
  box-shadow: 0px -5px 5px rgba(0,0,0,0.25)

.toolbar
  height: 24px
  width: 100%
  border-bottom: solid 1px rgb(20,20,20)
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1)
  background: linear-gradient(rgb(60,60,60), rgb(45,45,45));

.toolbar li
  display: block
  float: left
  height: 20px
  width: 20px

.reel
  position:absolute
  top: 25px
  left: 0px
  right: 241px
  height: 20px
  text-align: center
  background-color: rgb(40,40,40)

#reelWrapper
  position:absolute
  left:30px
  right:1px
  height:20px

.reel input[type='range']
  width:100%
  position: relative;
  right: 1px

.properties
  padding: 25px 10px
  position: absolute
  top: 25px
  right: 0
  width: 220px
  bottom: 0
  overflow-y: scroll
  background-color: rgb(45,45,45)
  border-left: solid 1px rgb(20,20,20)
  box-shadow: inset 1px 1px 0px rgba(255,255,255,0.1)

.properties label, .placeholder
  color: rgb(200,200,200)
  text-transform: capitalize
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 1px;
  font-size: 11px
  margin-right: 5px

.properties .placeholder
  color: rgb(30,30,30)
  text-shadow: 0px 1px 1px rgba(255,255,255,0.15)
  font-size: 14px
  font-weight: bold
  text-align: center
  margin-top: 20px
  display: block

.properties input[type="text"]
  color: rgb(120,120,120)
  background-color: transparent
  border: none
  font-size: 10px

.properties input[type="color"]
  margin-left: 5px

.properties li
  margin-top: 1px
  padding: 0px

.properties input[type="range"]
  width: 100%
  height: 3px
  border-radius: 3px

.timeline
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1)
  display: block
  position: absolute
  left: 0
  right: 241px
  top: 45px
  bottom: 0px
  overflow-y: scroll

.timeline > li
  position: relative
  display: block
  left: 0px
  right: 240px
  height: 20px

.timeline > li:nth-child(even){
  background-color: rgb(55,55,55)
}

.timeline li ul
  display: block
  position: absolute
  height: 30px;
  left: 40px
  right: 4px

.timestamp
  position: absolute
  display: block
  width: 8px
  top: 1px
  height: 16px
  left: -6px
  background-color: rgb(42,97,168)
  border: 1px solid rgba(0,0,0,0.5)
  box-shadow: inset 1px 1px 0px rgba(255,255,255,0.1), inset -1px -1px 0px rgba(0,0,0,0.4)

.icon
  height: 20px
  width: 20px
  display: block
  float: left

.icon.Circle
  background: 0px 2px url('../img/circle.svg') no-repeat

.icon.Rect
  background: 0px 2px url('../img/rectangle.svg') no-repeat

.icon.Triangle
  background: 0px 2px url('../img/triangle.svg') no-repeat

.icon.Star
  background: 0px 2px url('../img/star.svg') no-repeat

.paused
  background: url('../img/play_btn.svg') no-repeat
  height: 20px

.playing
  background: url('../img/pause_btn.svg') no-repeat
  height: 20px

// Range bars

input[type='range']
  -webkit-appearance: none
  background-color: rgb(32,32,32)
  border-bottom: 1px solid rgba(255,255,255,0.08)
  height: 5px

input[type='range']::-webkit-slider-thumb
  background-color: rgb(220,220,220)
  border: 1px solid rgba(0,0,0,0.8)
  width: 12px
  height: 12px
  border-radius: 50%

