html, body
  height: auto

body
  text-align: center
  background-color: rgb(230,230,230)

#container
  width: 100%
  height: 100%
  text-align: left
  margin-top: 30px

.canvas-container
  border: rgb(200,200,200) 1px solid
  margin: 0 auto

.controlPanel
  background-color: rgb(60,60,60)
  height: 300px
  position: fixed
  bottom: 0
  width: 100%

.toolbar
  outline: green 1px dashed
  height: 30px

.toolbar li
  display: block
  outline: orange 1px dashed
  float: left
  height: 30px
  width: 30px

.reel
  outline: red 1px dashed
  height: 25px
  margin-right: 240px

.reel input[type='range']
  width: 100%

.properties
  outline: blue 1px dashed
  width: 220px
  height: 250px
  padding: 10px
  float: right
  overflow-y: scroll

.timeline
  outline: yellow 1px dashed
  height: 245px
  overflow-y: scroll


